<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Maven Suite Mult and Div">
    <test name="Mult Testing">
        <classes>
            <class name="hw1.MultTest" />
        </classes>
    </test>
    <test name="Div Testing">
        <classes>
            <class name="hw1.DivTest" />
        </classes>
    </test>
</suite>